<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home page</title>
    <meta name="author" content="ATLMendoza">
    <meta name="description" content="form tag and the form elements">
    <meta name="keywords" content="form, submit, reset, input, button, textarea, fieldset, legend">
    <meta name="revised" content="02/16/2025"/>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
     <header>
       <h1>
        Received Data
      </h1>

    </header>
    <section>

      <p>Student ID: <span>{{formData.studentid}}</span></p>  
      <p>Full name: <span>{{formData.fullname}}</span> </p>
      <p>Birthday: <span>{{formData.birthday}}</span> </p>    
      <p>Email address: <span>{{formData.emailaddress}}</span> </p> 
      <p>Mobile phone: <span>{{formData.mobilephone}}</span> </p>    
      <p>Grade level: <span>{{formData.gradelevel}}</span> </p> 
      <p>Intern/Extern: <span>{{formData.internextern}}</span> </p>    
      <p>Preferred Organization/Club: <span>{{formData.preferredoc}}</span> </p>    
      <p>Why do you want to join?: <span>{{formData.why}}</span>  </p>  
      
    </section>
    <footer>
      <p>
        References:
      </p>
      <cite>
       https://www.w3schools.com/html/html_forms.asp
      </cite><br/>
      <p>
        Copyright @ AL Mendoza 
      </p>
    </footer>
    <script src="script.js"></script>
    
    
</body>
</html>
